@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
    React Flow variables
    */

    --xy-background-pattern-color: hsl(var(--muted)) !important;
    --xy-background-color: hsl(var(--background)) !important;
    --xy-edge-stroke-width: 3px !important;
    --xy-edge-stroke: hsl(var(--foreground)) !important;

    /*
    ---------------------------------------
    */

    --background: 262.1 0% 95%;
    --foreground: 262.1 0% 0%;
    --card: 262.1 0% 90%;
    --card-foreground: 262.1 0% 10%;
    --popover: 262.1 0% 95%;
    --popover-foreground: 262.1 95% 0%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224.10000000000002 10% 85%;
    --muted-foreground: 262.1 0% 35%;
    --accent: 224.10000000000002 10% 80%;
    --accent-foreground: 262.1 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 262.1 0% 90%;
    --border: 262.1 20% 50%;
    --input: 262.1 20% 18%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 262.1 10% 5%;
    --foreground: 262.1 0% 90%;
    --card: 262.1 0% 0%;
    --card-foreground: 262.1 0% 90%;
    --popover: 262.1 10% 5%;
    --popover-foreground: 262.1 0% 90%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262.1 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224.10000000000002 10% 15%;
    --muted-foreground: 262.1 0% 60%;
    --accent: 224.10000000000002 10% 15%;
    --accent-foreground: 262.1 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 262.1 0% 90%;
    --border: 262.1 20% 18%;
    --input: 262.1 20% 18%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-flow__controls-button {
  color: hsl(var(--foreground)) !important;
  background-color: hsl(var(--accent)) !important;
  border-color: hsl(var(--muted-foreground)) !important;
  width: 60px !important;
  height: 60px !important;

  & svg {
    max-width: 20px !important;
    max-height: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }
}

.react-flow__controls-button:first-child {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

.react-flow__controls-button:last-child {
  border-radius: 0 0 0.25rem 0.25rem !important;
}
